* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  padding: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d2dbdd;
}
.wrapper {
  width: 100%;
  padding: 0 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  padding: 20px;
  font-size: xxx-large
}

.btn {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.inc-btn:hover {
  color: #1565c0;
}

.dec-btn:hover {
  color: #f32c2c;
}

.button:hover {
  background-color: #1565c0;
}